<mat-slide-toggle (toggleChange)="displayForm.set(!displayForm())" class="mb-4">{{ title() }}</mat-slide-toggle>

@if (displayForm()) {
  <br>
  <hr>
  <br>
  <form class="w-full min-w-[150px] min-w-[500px]">
    <mat-form-field class="w-full">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
}
